{% include "head.html" %}

<div class="container my-5 border border-5" >
    <h1>View All Students</h1>
    <table class="table table-light table-striped" >
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Father's Name</th>
            <th>Mother's Name</th>
            <th>Phone No.</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Course</th>
            <th>Fee</th>
          </tr>
        </thead>
        <tbody>
        {% for a in btimedata %}
          <tr>
            <td>{{a.id}}</td>
            <td>{{a.name}}</td>
            <td>{{a.fathername}}</td>
            <td>{{a.mothername}}</td>
            <td>{{a.phoneno}}</td>
            <td>{{a.address}}</td>
            <td>{{a.gender}}</td>
            <td>{{a.course}}</td>
            <td>{{a.fee}}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
  <!--Main End-->


{% include "footer.html" %}